<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_num">
    Add this:
  </label>
  <input id="first_num" name="first_num" text="text">

<label for="second_num">
    to this:
  </label>
  <input id="second_num" name="second_num" text="text">

  <button>
    Add!
  </button>
</form>
