<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_num">
    Multiply this:
  </label>
  <input id="first_num" name="first_num" text="text">

<label for="second_num">
    by this:
  </label>
  <input id="second_num" name="second_num" text="text">

  <button>
    Multiply!
  </button>
</form>
