<h1>New subtraction</h1>

<form action="/wizard_add">
  <label for="first_num">
    Subtract this:
  </label>
  <input id="first_num" name="first_num" text="text">

<label for="second_num">
    from this:
  </label>
  <input id="second_num" name="second_num" text="text">

  <button>
    Subtract!
  </button>
</form>
